<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @game.user.email %>
</p>
<% if user_signed_in? && @game.user_id == current_user.id %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

