<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @game.user.email %>
</p>
<% if user_signed_in? && @game.user_id == current_user.id %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <h3>Please <%= link_to 'Login/Sign Up', new_user_session_path %> to edit</h3>
<% end %>
<%= link_to 'Back', games_path %>
