<!DOCTYPE html>
<html>
  <head>
    <title>GameCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
     <nav>
        <div>
          <%= link_to 'Home', root_path,  class:"navbar-brand"  %> 
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
          <% else %>
            <%= link_to('Login / Sign Up', new_user_session_path)  %>  
          <% end %>
        </div>
    </nav>
    <div>
          <%= form_tag(searchgames_path, method: "get") do %>
          <%= text_field_tag(:title, nil, placeholder:"Search by game name") %>
          <%= submit_tag("Search") %>
          <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
